@import "_base.css";
@import "_colors.css";

.outer-grid {
  display: grid;
  grid-template-rows: 80px auto 80px;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--primary-font-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-color);
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 1em;
}

.footer {
  background: var(--primary-color);
  padding: 1em;
}

.nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  font-size: 2rem;
  color: var(--primary-font-color);
}

.nav__item--active {
  color: var(--accent-color);
}

/* Quiz Card */
.quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 1em;
  border: 1px solid var(--primary-color);
}

.quiz-card--opened {
  border-color: var(--accent-color);
}

.quiz-card__header {
  display: flex;
  justify-content: space-between;
}

.quiz-card__bookmark {
  position: absolute;
  font-size: 1.5rem;
  right: 1em;
  top: -0.3em;
}

.quiz-card__bookmark--toggled {
  color: var(--accent-color);
}

.quiz-card__question {
  margin: 1em 0em;
}

.quiz-card__button {
  border: none;
  border-radius: 5px;
  padding: 0.75em 1.25em;
  width: max-content;
  align-self: center;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-weight: bold;
  cursor: pointer;
}

.quiz-card__button--toggled {
  background-color: var(--accent-color);
}

.quiz-card__button:hover {
  opacity: 0.8;
}

.quiz-card__tags {
  display: flex;
  margin: 1em;
  justify-content: space-evenly;
}

.quiz-card__tag {
  color: var(--accent-color);
  font-size: 0.8rem;
  padding: 0.5em;
}

.hidden {
  display: none;
}
